[submodule "packages/calculator"]
	path = packages/calculator
	url = https://github.com/ClydeFrog04/calculator/
[submodule "packages/portfolio"]
	path = packages/portfolio
	url = https://github.com/ClydeFrog04/portfolio/
[submodule "packages/SpotifyWeb"]
	path = packages/SpotifyWeb
	url = https://github.com/ClydeFrog04/SpotifyWeb
[submodule "packages/SourdoughCalculator"]
	path = packages/SourdoughCalculator
	url = https://github.com/ClydeFrog04/SourdoughCalculator/
