$green: #0f0;
$themeGreen: #4cb050;//#32a852
$themeMintGreen: #afd;
$themePurple: #6d4cb0;
$themeBlue: #4c8db0;
$themeRed: #b04c4f;
$themePink: #b04c9c;
$themeOrange: #b06f4c;
$themePalePurple: #dce;
$themePikachu: #dce011;
$themeCustom: white;

$separator: #565656;
