$mainCornerSize: 4px;
$topbarHeight: 100px;

//width breakpoints
$breakpointMobile: 480px;
$breakpointTablet: 768px;
$breakpointTabletLandscape: 1024px;
$breakpointLargeTablet: 1200px;
$breakpointSmallDesktop: 1000px;
$breakpointDesktop: 1500px;
$mobileH1FontSize: 1.75rem;

//height break points
$breakpointTabletLandscapeHeight: 675px;
$androidTVHeight: 600px;//todo: probably should be 540 instead
